# Copyright (C) 2021 The Android Open Source Project
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

on early-boot
    # SSR Setup
    write /sys/bus/msm_subsys/devices/subsys0/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys1/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys2/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys3/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys4/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys5/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys6/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys7/restart_level RELATED

on boot
    # Set modem permission for AT command
    chmod 0777 /dev/smd8
    chown radio radio /dev/smd8

    # Set xiaomi touch permissions
    chown system system /dev/xiaomi-touch
    chmod 0660 /dev/xiaomi-touch

on post-fs
    # Create persist for camera calibration data
    mkdir /mnt/vendor/persist/camera 0755 system cameraserver

    # Apply sensors fix
    start init-sensors_fix-sh

on post-fs-data
    # Create data folder for nv_mac
    mkdir /data/vendor/mac_addr 0770 system wifi

    # Create data folder for FPC fingerprint
    mkdir /data/vendor/fpc 0770 system system

    # Bind mount fastrpc_shell_3 for labelling
    mkdir /mnt/vendor/dsp 0770 root root
    copy /vendor/dsp/cdsp/fastrpc_shell_3 /mnt/vendor/dsp/fastrpc_shell_3
    chmod 0644 /mnt/vendor/dsp/fastrpc_shell_3
    mount none /mnt/vendor/dsp/fastrpc_shell_3 /vendor/dsp/cdsp/fastrpc_shell_3 bind

service vendor.audio-hal /vendor/bin/hw/android.hardware.audio.service
    override
    class hal
    user audioserver
    # media gid needed for /dev/fm (radio) and for /data/misc/media (tee)
    group audio camera drmrpc inet media mediadrm net_bt net_bt_admin net_bw_acct oem_2901 wakelock
    capabilities BLOCK_SUSPEND
    ioprio rt 4
    task_profiles ProcessCapacityHigh HighPerformance
    socket audio_hw_socket seqpacket 0666 system system
    onrestart restart audioserver

service batterysecret /vendor/bin/batterysecret
    class last_start
    user root
    group system system wakelock
    disabled
    override

service mi_thermald /vendor/bin/mi_thermald
    class main
    user root
    group system
    override

service init-sensors_fix-sh /vendor/bin/init.sensors_fix.sh
    class main
    user system
    group system
    oneshot
